html {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/1920px-Flag_of_Palestine.svg.png);
    height: 100vh;
    width: 100vw;
}

main{ 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Crazytime';
    src: url(assets\Crazytime-Regular.otf) format(opentype);
}