h1 {
    width: auto;
    height: auto;
    text-align: center;
    font-size: 64px;
    color: white;
    font-family: 'Crazytime', Arial, sans-serif;
}

body {
    font-family: 'Crazytime', Arial, sans-serif;
}